---
layout: base
---

<script src="assets/javascript/sort.js" defer></script>

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%} {{ content }} {%- if site.pages.size > 0 -%}

    <h2>All Posts</h2>
    <p>
        Sorted by
        <a id="sort-by-created" class="active" href="#">last created</a> or
        <a id="sort-by-updated" href="#">last updated</a>
    </p>

    {% assign sorted_posts = site.pages | sort: 'created' | reverse %}
    <ul class="post-list" id="post-titles">
        {%- for page in sorted_posts -%} {% if page.layout != 'page'% or
        page.tags contains 'hidden' %} {% continue %} {% endif %}
        <li
            style="margin-bottom: 10px"
            data-created="{{page.created}}"
            data-updated="{{page.updated}}"
        >
            <h3>
                <a class="page-link" href="{{ page.url | relative_url }}">
                    {{ page.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%} {{ page.excerpt }} {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
</div>
